name: news_app_jfrog

permissions:
  id-token: write
  contents: write

on:
  push:
    branches: [ feature-1 ]
  pull_request:

jobs:
  build-deploy:
    runs-on: self-hosted

    env:
      ARTIFACTORY_REPO: ${{ secrets.ARTIFACTORY_REPO }}
      ARTIFACTORY_PATH: news-app
      JFROG_CLI_BUILD_NAME: news-app-build
      JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Setup JFrog CLI (OIDC)
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
        with:
          oidc-provider-name: 'news-app'

      - name: Verify JFrog CLI
        run: jf --version

      - name: Build WAR File
        run: mvn clean package -DskipTests

      - name: Upload WAR TO Artifactory
        run: |
          ART_NAME="news-app-${{ github.run_number }}.war"
          jf rt u "target/news-app.war" \
            "${ARTIFACTORY_REPO}/${ARTIFACTORY_PATH}/${ART_NAME}" \
            --flat=true

      - name: Collect Build Info
        run: |
          jf rt bag $JFROG_CLI_BUILD_NAME .
          jf rt bp $JFROG_CLI_BUILD_NAME $JFROG_CLI_BUILD_NUMBER
